# Flutter/Dart/Pub specific rules 
.dart_tool/ 
.packages 
.flutter-plugins 
.flutter-plugins-dependencies 
ECHO is on.
# Build outputs 
/build 
/ios/Flutter/Flutter.framework 
/ios/Flutter/Flutter.podspec 
/ios/Flutter/Generated.xcconfig 
/ios/Flutter/ephemeral 
/ios/ServiceDefinitions.json 
/android/.gradle 
/android/app/debug 
/android/app/profile 
/android/app/release 
ECHO is on.
# Personal settings 
.idea/ 
.vscode/ 
*.iml 
ECHO is on.
# Miscellaneous 
*.log 
pubspec.lock 
.DS_Store 
.env 
.flutter-plugins-dependencies 
