"# Flutter/Dart/Pub specific rules" 
".dart_tool/" 
".packages" 
".flutter-plugins" 
".flutter-plugins-dependencies" 
"" 
"# Build outputs" 
"/build" 
"/ios/Flutter/Flutter.framework" 
"/ios/Flutter/Flutter.podspec" 
"/ios/Flutter/Generated.xcconfig" 
"/ios/Flutter/ephemeral" 
"/ios/ServiceDefinitions.json" 
"/android/.gradle" 
"/android/app/debug" 
"/android/app/profile" 
"/android/app/release" 
"" 
"# Personal settings" 
".idea/" 
".vscode/" 
"*.iml" 
"" 
"# Miscellaneous" 
"*.log" 
"pubspec.lock" 
".DS_Store" 
".env" 
".flutter-plugins-dependencies" 
